# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.tlog
*.pdb
*.ilk
CPlusPlus/vc11/Release/Resources.res
CPlusPlus/vc11/Release/FadeCandyClient.map
CPlusPlus/vc11/Release/FadeCandyClient.log
CPlusPlus/vc11/Release/FadeCandyClient.lastbuildstate
CPlusPlus/vc11/Release/FadeCandyClient.Build.CppClean.log
CPlusPlus/vc11/FadeCandyClient.sdf
CPlusPlus/vc11/FadeCandyClient.v11.suo
CPlusPlus/vc11/FadeCandyClient.v12.suo
CPlusPlus/vc11/Debug/Resources.res
CPlusPlus/vc11/Debug/FadeCandyClient.lastbuildstate
CPlusPlus/vc11/Debug/FadeCandyClient.log
CPlusPlus/vc11/Debug/vc110.idb
CPlusPlus/vc11/FadeCandyClient.opensdf
